.vs
packages

MyProject.Application/bin
MyProject.Application/obj

MyProject.Core/bin
MyProject.Core/obj

MyProject.EntityFramework/bin
MyProject.EntityFramework/obj

MyProject.Host/bin
MyProject.Host/obj

MyProject.WebApi/bin
MyProject.WebApi/obj

